@font-face {
  font-family: 'NewsreaderPagination';
  src: local('NewsreaderPagination'), url(../../vendor/fonts/Newsreader/Newsreader-VariableFont.ttf);
}

.pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.pageNumber {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-family: 'NewsreaderPagination', 'Inter', 'sans-serif';
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 32px;
  height: 32px;
  font-family: 'NewsreaderPagination', 'Inter', 'sans-serif';
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.pagination.dark .pageNumber,
.pagination.dark .arrow {
  background-color: #312712;
  color: #e7e3de;
}

.pagination.light .pageNumber,
.pagination.light .arrow {
  background-color: #dac59e;
  color: black;
}

.pagination.dark .pageNumber:hover,
.pagination.dark .arrow:hover {
  background-color: #412e04;
}

.pagination.light .pageNumber:hover,
.pagination.light .arrow:hover {
  background-color: #caad77;
}

.pageNumber:disabled,
.arrow:disabled {
  cursor: default;
  transform: translateY(-2px);
  opacity: 0.5;
}

.pagination.dark .pageNumber:disabled {
  border: 1px solid wheat;
}

.pagination.light .pageNumber:disabled {
  border: 1px solid #3a2701;
}
