@font-face {
  font-family: 'Newsreader';
  src: local('Newsreader'), url(./vendor/fonts/Newsreader/Newsreader-Italic-VariableFont.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Newsreader', 'Inter', 'sans-serif';
}

.container {
  padding: 10px;
  min-height: 100vh;
}

.app.dark .container {
  background-color: #201912;
}

.app.light .container {
  background-color: wheat;
}

.app.dark p,
.app.dark h3,
.app.dark h2,
.app.dark h1 {
  color: #e7e3de;
}

.app.light p,
.app.light h3,
.app.light h2,
.app.light h1 {
  color: black;
}
