@font-face {
  font-family: 'NewsreaderPagination';
  src: local('NewsreaderPagination'), url(../../vendor/fonts/Newsreader/Newsreader-VariableFont.ttf);
}

.slider {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.arrow {
  min-width: 32px;
  height: 32px;
  font-family: 'NewsreaderPagination', 'Inter', 'sans-serif';
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.arrow:hover {
  opacity: 0.7;
}

.slider.dark .arrow {
  background-color: #312712;
  color: #e7e3de;
}

.slider.light .arrow {
  background-color: #dac59e;
  color: black;
}
